*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}
body,html{
    width: 100%;
    height: 100%;
}
nav{
    width: 100%;
    height: 30px;
    /* background-color:transparent ; */
}
label.logo{
    font-size: 25px;
    font-style: italic;
    font-weight: bolder;
    margin: 0 30px;
    line-height: 80px;
    text-decoration: underline;
    color: #010102;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}
.logo:hover{
    color: azure;
}
nav ul{
    float: right;
    

}
nav ul dt{
    display: inline-block;
    line-height: 80px;
    
}
nav ul dt a{
    text-decoration: none;
    color:white;
    font-size: 17px;
    padding: 8px 35px;
    font-style: italic;
 
}
nav ul dt a:hover{
    color: black;
    font-weight: bolder;
}
#checkbtn{      
    float: right;
    margin-right: 10px;
    line-height: 80px;
    font-size: 25px;
    display: none;
    color: azure;
}
#check{
    display: none;
}
#checkbox:checked ~ ul{
    left: 0;
}

/* @media(max-width:995px){
    #checkbtn{
        display: block;
      }
      nav ul{
        width: 100%;
        height: 100vh;
        background-color: crimson;
        position: fixed;
        top: 80px;
        left: -100%;
        transition: .5s;
        
      }
      nav ul dt{
        display: block;
        text-align: center;
       
      }
} */


       /* .carousel-caption h5{
        font-size: 40px; 
        font-style: italic;
         font-weight: bolder;
         color: azure;
         margin-top: -60%;
       }
       .carousel-caption p{
        font-size: 20px;
        font-weight: bold; 
        color:black;
       } */
       .carousel-control-prev{
        margin-bottom: -40%;
       }
       .carousel-control-next{
        margin-bottom: -40%;
       }
      
       
      .text{
        background-color:#BDC3C7  ;
        width: 100%;
        height: 70vh;
        margin-top: 550px
      }
       h3{
        text-align: center;
        font-weight: bolder;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-transform: capitalize;
       }
       .para{
        width: 60%;
        margin-left: 20%;
       }
      
       .detail{
        text-align: center;
        justify-content: center;
        font-size: small;
        color: black;
       }
       .detail::first-letter{
        font-size: 25px;
        font-weight: bolder;
       }
       input[type=button]{
        width: 150px;
        text-align: center;
        border-radius: 30px;
        border: 2px solid black;
        font-size: 15px;
        background-color: black;
        color: whitesmoke;
        cursor: pointer;
        margin-left: 40%;
       }
   
       input[type=button]:hover {
        background-color: #2E86C1;
        border: 1px solid #2E86C1;
    }
    .main{
        width: 100%;
        height: 300px;
        background-color: aqua;
        display: flex;
    }
    .ch1{
        width: 33.3%;
        height: 300px;
        background-color: #2E86C1;
    }
    .ch2{
        width: 33.3%;
        height: 300px;
        background-color: #515A5A;
    }
    .ch3{
        width: 33.3%;
        height: 300px;
        background-color: #2E86C1;
    }
    .icon{
        font-size: 2.3rem;
        text-align: center;
        color: white;
    }
    .para1{
        width: 60%;
        margin-left: 20%;
       }
    p{
        font-size: 15px;
        justify-content: center;
        text-align: center;
        color: white;
    }
    @media (min-width:1124) and (max-width:768){
       p{
        font-size: 5px;
        bottom: 100px;
        
       }
    }
    .column{
        justify-content: center;
        display: flex;
    }
    .row{
        background-color:#BDC3C7;
        margin: 20px;
        padding: 10px;
        width: 30%;
    }
    .box{
        width: 250px;
        height: 50px;
        background-color:#515A5A;
        margin-left: 10px;
       
    }
    .icon2{
        color:white;
        font-size: 30px;
        margin-left: 10px;
        
    }
    .heading1{
        margin-top: -40px;
        color: white;
        margin-left: 80px;
        font-size: 25px;
        text-transform: capitalize;
    }
    .text1{
        background-color:#BDC3C7  ;
        width: 100%;
        height: 100vh;
      
      }
     
     
      .chh1{
        width: 25%;
        height: 300px;
        background-color: #2E86C1;
    } 
    .chh2{
        width: 25%;
        height: 300px;
        background-color: #2E86C1;
    }
    .chh3{
        width: 25%;
        height: 300px;
        background-color: #2E86C1;
    }
    .chh4{
        width: 25%;
        height: 300px;
        background-color: #2E86C1;
    }
    .icon3{
        font-size: 2.5rem;
        text-align: center;
        color:white;
       margin-top: 30px;
        color: black;
    }
    .number{
        font-size: 40px;
        font-weight: bolder;
        text-align: center;
        color: black;
        /* margin-left: 40px; */
    } 
    .summary{
        text-align: center;
        text-transform: uppercase;
        color: black;
        font-weight: bolder;
        line-height: 45px;
    }
    .text2{
        background-color:#BDC3C7  ;
        width: 100%;
        height: 130vh;
      
      }
   
   
    .grid-container2{
        margin-left: 150px;
        
        
    }
     img{
        width: 300px;
        object-fit: cover;
        object-position: center;
        
        transition: 0.5s;
     }
     img:hover{
        transform: scale(1.1);
     }
     .text3{
        background-color:#BDC3C7  ;
        width: 100%;
        height: 130vh;
      
      }
      .form{
  
      
        padding: 100px;
      }
      input[type=text]{
        width: 90%;
        padding: 13px;
       
      }
      input[type=button2]{
        width: 90%;
        padding: 13px;
         text-align: center;
        background-color: #2E86C1;
        font-size: 30px;
        font-weight: bolder;
      }
      .mess input[type=text]{
        width: 90%;
        padding: 35px;
     
      }
      @media(max-width:995px){
        #checkbtn{
            display: block;
          }
          nav ul{
            width: 100%;
            height: 100vh;
            background-color: crimson;
            position: fixed;
            top: 80px;
            left: -100%;
            transition: .5s;
            
          }
          nav ul dt{
            display: block;
            text-align: center;
           
          }
    }
    @media (max-width:480px){
        input[type=button] {
           
            margin-left: 20%;
            text-align: center;
           }
           .main{
        flex-direction: row;
     
        }
        p{
            font-size: 8px;
            justify-content: center;
            text-align: center;
            color: white;
        }
        .column{
            justify-content: center;
            display: block;
        }
       
        .row{
           
            margin: 15px;
          
            width: 100%;
        }
        .grid-container2{
            margin-left: 100px;
            
            
        }
        .text2{
            background-color:#BDC3C7  ;
            width: 100%;
            height: 180vh;
          
          }
    }
   
   
      
    
   
   
